html {
	box-sizing: border-box;
	height: 100%;
}
body {
	font-family: 'Proxima Nova Rg';
	font-size: 13px;
	margin: 0;
	min-height: 100%;
	position: relative;
}
body:before {
	content: "";
	width: 100%;
	height: 5px;
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c8bf2+0,e33e2b+33,f1b500+66,2ba14b+100 */
	background: #3c8bf2; /* Old browsers */
	background: -moz-linear-gradient(left, #3c8bf2 0%, #e33e2b 33%, #f1b500 66%, #2ba14b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #3c8bf2 0%, #e33e2b 33%, #f1b500 66%, #2ba14b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #3c8bf2 0%, #e33e2b 33%, #f1b500 66%, #2ba14b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c8bf2', endColorstr='#2ba14b', GradientType=1 ); /* IE6-9 */
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	outline: medium none;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: medium none;
	text-decoration: none;
}
.b {
	border: 1px solid red;
}
.clear {
	clear: both;
}
input, textarea, select, .form input, .form textarea, .form select {
	box-shadow: none !important;
}
.custom-container {
	max-width: 1290px;
	width: 100%;
}
section {
	padding: 50px 0;
}
/* Header Start */
header {
	padding: 10px 0;
}
h1.logo {
	width: 133px;
}
.top-head {
	margin-bottom: 20px;
}
.top-nav {
	text-align: right;
}
.top-nav ul {
}
.top-nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.top-nav ul li a {
	color: #8f9294;
	font-size: 13px;
	position: relative;
}
.top-nav ul li a:before {
	content: "";
	width: 4px;
	height: 4px;
	background-color: #8f9294;
	display: inline-block;
	border-radius: 50%;
	margin: 0 20px 0 0px;
}
.top-nav ul li.nav-phone {
}
.top-nav ul li:first-child a:before {
	background-color: transparent;
}
.top-nav ul li.nav-phone a {
	background: url(../img/phone-icon.png) no-repeat;
	font-weight: bold;
	padding-left: 30px;
	color: #3c8bf2;
	font-size: 15px;
	padding-bottom: 10px;
	margin-right: 0;
}
.top-nav ul li.nav-phone a:before {
	content: " ";
	width: 1px;
	height: 16px;
	background-color: #8f9294;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: -12px;
}
.top-nav ul li a:hover {
	color: #2ba14b;
}
/* Navigation Css Start */
.navbar-brand {
	display: none;
}
.navbar {
	padding: 0;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 13px;
	color: #1c1c1c;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 18px;
}
.navbar-light .navbar-nav .work-with-us .nav-link {
	color: #197b30;
	border-left: 1px solid #8f9294;
}
.navbar-light .navbar-nav .work-with-us .nav-link i {
	margin-left: 5px;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #197b30;
}
.dropdown-menu {
	min-width: 15rem;
	border-radius: 0;
	padding: 0;
	border-bottom: 4px solid #197b30;
}
.dropdown-toggle::after {
}
.dropdown-item {
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	padding: 0.5em 1em;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: #197b30;
	border-bottom: 1px solid #197b30;
}
/* Navigation Css End */
/* Slider Start */
.tp-caption.WebSlider-Title {
	color: rgba(51,51,51,1.00);
	font-size: 90px;
	line-height: 90px;
	font-weight: 100;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0 0 0 0px;
}
.tp-caption.WebSlider-SubTitle {
	color: rgba(153,153,153,1.00);
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0 0 0 0px;
}
.tp-caption.WebSlider-Content {
	color: rgba(51,51,51,1.00);
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0 0 0 0px;
}
.rev-btn, .rev-btn:visited {
	outline: 0!important;
	box-shadow: none!important;
	background-color: #197b30;
	color: #fff;
	text-decoration: none!important;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 100;
	text-transform: uppercase;
	padding: 12px 35px;
	box-sizing: border-box;
	cursor: pointer;
}
.rev-btn:hover {
	background-color: #fff;
	color: #000;
}
.tp-caption {
	z-index: 5;
}
.tp-rightarrow.default {
	background: url(../img/large_right.png) no-Repeat 0 0;
}
.tp-leftarrow.default {
	background: url(../img/large_left.png) no-Repeat 0 0;
}
.tp-loader.spinner0 {
	background: url(../img/loader.gif) no-repeat center center;
}
.tp-bannertimer {
	background: url(../img/timer.png);
	top: auto;
	bottom: -5px;
}
.tp-bullets.simplebullets.round .bullet {
	background: url(../img/bullet.png) no-Repeat top left;
}
/* Slider End */
/*Introduciton Section Start*/
.intorSection .introColWrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.introContent {
	position: absolute;
	top: 0;
	left: 0px;
	justify-content: center;
	flex-direction: column;
	align-items: left;
	display: flex;
	font-size: 14px;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 27px;
}
.introTitle {
	margin-bottom: 15px;
}
.introTitle h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
}
.introTitle h2 span {
	display: block;
	font-size: 25px;
	font-weight: 100;
	position: relative;
}
.introTitle h2 span:before {
	content: "";
}
.introContent p {
	max-height: 105px;
 ove;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.btn {
	margin-top: 20px;
	border-radius: 0;
	cursor: pointer;
}
.service {
	background-color: #2ba14b;
	color: #fff;
	padding-bottom: 0;
	overflow: hidden;
}
.title {
	margin-bottom: 43px;
}
.title h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	color: #fff;
}
.title h2:after {
	content: "";
	display: block;
	background-color: #212529;
	width: 59px;
	height: 3px;
	margin: 17px auto;
}
.lead {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
	letter-spacing: 0.5px;
}
.service-list {
}
.service-list .iconImg {
	margin-left: 22px;
}
.service-list figure {
	color: #fff;
	font-size: 14px;
}
.service-list figure .mr-20 {
	margin-left: 0;
	margin-right: 22px;
}
.service-list figure iconImg img {
}
.service-list figure figcaption {
}
.service-list figure figcaption h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-bottom: 7px;
	font-weight: normal;
	text-transform: uppercase;
}
.service-list figure figcaption h3 a {
	color: #fff;
}
.service-list figure figcaption p {
	color: #fff;
	font-size: 14px;
	max-height: 105px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.touchPhone {
}
.touchPhone img {
	margin: 0 auto;
}
.skill {
	margin-top: 34px;
}
.skill ul {
}
.skill ul li {
	display: inline-block;
	width: 137px;
	height: 137px;
	line-height: 137px;
	background-color: #fff;
	border: 2px solid #1c63b8;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin: 0 10px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	position: relative;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}
.skill ul li:first-child {
	margin-left: 0;
}
.skill ul li:last-child {
	margin-right: 0;
}
.skill ul li span {
	width: 121px;
	height: 121px;
	line-height: 121px;
	background-color: #1c63b8;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	margin-top: -60.5px;
	margin-left: -60.5px;
	color: #fff;
}
.skill ul li.jquery {
	border-color: #2ba133;
}
.skill ul li.jquery span {
	background-color: #2ba133;
}
.skill ul li.html {
	border: 2px solid #f16529;
}
.skill ul li.html span {
	background-color: #f16529;
}
.skill ul li.css {
	border-color: #008fd4;
}
.skill ul li.css span {
	background-color: #0892d5;
}
.skill ul li.asp {
	border-color: #e1814d;
}
.skill ul li.asp span {
	background-color: #e1824f;
}
.skill ul li.php {
	border-color: #b878b4;
}
.skill ul li.php span {
	background-color: #b878b4;
}
.skill ul li.laravel {
	border-color: #d83b29;
}
.skill ul li.laravel span {
	background-color: #d83b29;
}
.skill ul li.wordpress {
	border-color: #000;
}
.skill ul li.wordpress span {
	background-color: #000;
}
.skill ul li:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
/*Work Css Start*/
.parallax {
	/* The image used */
	background-image: url("../img/parallax-bg.jpg");
	/* Set a specific height */
    /* Create the parallax scrolling effect */
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.parallax:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.92);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.work {
	padding-bottom: 0;
}
#filters {
	text-align: center;
}
#filters .button {
	margin: 0 5px 30px 5px;
	width: 140px;
	font-size: 14px;
	text-transform: uppercase;
	border-color: #fff;
	color: #fff;
	cursor: pointer;
}
.grid-item {
	margin-bottom: 30px;
}
.grid-item-list {
	background-color: #fff;
	padding: 5px;
	position: relative;
	height: 210px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	overflow: hidden;
	cursor: pointer;
}
.grid-item-list img {
	margin: 0 auto;
}
.overlay-container {
	position: absolute;
	background-color: rgba(227,62,43,0.96);
	width: 100%;
	height: 100%;
	top: -100px;
	left: 0;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}
.overlay-container h4 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.overlay-container a.btn {
	border-color: #fff;
	color: #fff;
	padding: 3px 10px;
}
.overlay-container a.btn:hover {
	background-color: #fff;
	color: #e33e2b;
}
.grid-item-list:hover .overlay-container {
	top: 0;
	opacity: 1;
	visibility: visible;
}
#filters .button.btn-outline-secondary:not([disabled]):not(.disabled).active, #filters .button.btn-outline-secondary:not([disabled]):not(.disabled):active, #filters .button.show>.btn-outline-secondary.dropdown-toggle, #filters .button:hover {
	box-shadow: none;
	background-color: #fff;
	color: #868e96;
}
/*Work Css End*/
/*Why Choose Us Css Start*/
.why_choose_us {
	background-color: #f4f4f4;
}
.sub-title {
	margin-bottom: 25px;
}
.sub-title h4 {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 34px;
	font-weight: 300;
}
.sub-title .webpage-logo {
	display: inline-block;
	width: 155px;
	vertical-align: middle;
	margin-left: 19px;
}
.why_choose_us ul {
}
.why_choose_us ul li {
	list-style: none;
	position: relative;
	padding-left: 31px;
	margin-bottom: 19px;
	font-size: 14px;
}
.why_choose_us ul li b {
}
.why_choose_us ul li:before {
	content: "\f00c";
	font-family: FontAwesome;
	width: 20px;
	height: 20px;
	line-height: 18px;
	display: block;
	border-radius: 50%;
	border: 1px solid #8dc63f;
	font-size: 10px;
	text-align: center;
	color: #8dc63f;
	position: absolute;
	top: 0px;
	left: 0;
}
.secondary_img {
	position: absolute;
	top: 0;
	right: 0;
	margin-left: 0px;
	text-align: right;
	justify-content: center;
	flex-direction: column;
	align-items: left;
	display: flex;
	width: 100%;
	height: 100%;
}
/*Footer Start*/
footer {
	background-color: #030303;
}
footer .top-footer {
	padding: 20px;
	border-bottom: 1px solid #161616;
	color: #fff;
	font-weight: 300;
	font-family: 'Proxima Nova Lt';
}
footer .top-footer h3 {
}
.top-footer ul.social_media {
}
.top-footer ul.social_media li {
	display: inline-block;
	list-style: none;
}
.top-footer ul.social_media li a {
	color: #fff;
	position: relative;
	display: block;
}
.top-footer ul.social_media li a i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	background-color: #8dc63f;
	text-align: center;
	border-radius: 4px;
}
.top-footer ul.social_media li span {
	display: inline-block;
	font-size: 17px;
	vertical-align: top;
	margin: 0 18px;
}
.top-footer ul.social_media li span b {
	display: block;
	font-weight: bold;
}
.bottom_footer {
	padding: 30px 0;
	color: #fff;
	font-size: 15px;
}
.bottom_footer .footer_title h4 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.bottom_footer ul {
	margin-bottom: 13px;
}
.bottom_footer ul li {
	display: inline-block;
	font-size: 15px;
	margin: 0 10px;
	cursor: pointer;
}
.bottom_footer ul li a {
	color: #fff;
}
.bottom_footer ul.footer_contact_info {
}
.bottom_footer ul.footer_contact_info li {
}
.bottom_footer ul.footer_contact_info li a {
}
.bottom_footer ul.footer_contact_info li i {
	margin-right: 9px;
}
.bottom_footer small {
	color: #474747;
}
.bottom_footer small a {
	color: #8dc63f;
}
.bottom_footer ul li:hover, .bottom_footer ul li:hover a {
	color: #8dc63f;
}
/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #4e4e4e;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
.scrollToTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
}
.scrollToTop i {
	line-height: 40px;
	font-size: 20px;
}
}
.gray_bg {
	background-color: #f4f4f4;
}
.content_block {
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
}
.content_block p {
	font-size: 14px;
}
.content_block .why_choose_us {
	background-color: transparent;
}
/*Card Css Style*/
.card {
	border-radius: 0;
}
.card-header {
	background-color: #fbfbfb;
}
.card-header h5 a {
	font-size: 14px;
	color: #212529;
	display: block;
	position: relative;
}
.card-header h5 a:after {
	content: "\f106";
	font-family: FontAwesome;
	display: block;
	text-align: right;
	position: absolute;
	top: 0;
	right: -8px;
	width: 20px;
	height: 20px;
	line-height: 18px;
	border: 1px solid #ccc;
	text-align: center;
}
.card a.collapse {
	display: block;
}
.card a.collapsed {
}
.card .card-header h5 a.collapsed:after {
	content: "\f107";
}
/*Team Css Start*/
/* Team #7 */
.team .team-member {
	margin: 20px auto;
	background-color: #fff;
	/* border: 1px solid #ccc; */
	padding: 5px;
	cursor: pointer;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
	-o-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
	-ms-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.36);
}
.team .t-container {
	position: relative;
	z-index: 5;
	overflow: hidden;
}
.team .social {
	position: absolute;
	bottom: -70px;
	left: 0;
	z-index: 1;
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 12px 0;
	background: rgba(0,0,0,0.6);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.team .team-member:hover .social {
	bottom: 0;
}
.team .team-info {
	padding: 0 15px 5px 15px;
}
.team img {
}
.team h4 {
	margin-top: 15px;
	font-family: 'Oswald', sans-serif;
	display: block;
	font-size: 17px;
	margin-bottom: 12px;
}
.team h4 span {
	font-size: 14px;
	color: #999;
	font-weight: 300;
	display: block;
	margin-top: 7px;
}
.circle {
	display: inline-block;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 100%;
}
.brand-bg a i {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}
.brand-bg a i:hover {
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}
.brand-bg a.facebook i {
	background: #3280e7;
}
.brand-bg a.facebook i:hover {
	background: #134fa0;
}
.brand-bg a.twitter i {
	background: #32c8de;
}
.brand-bg a.twitter i:hover {
	background: #188392;
}
.brand-bg a.google-plus i {
	background: #f96f4a;
}
.brand-bg a.google-plus i:hover {
	background: #eb6440;
}
.brand-bg a.linkedin i {
	background: #729fda;
}
.brand-bg a.linkedin i:hover {
	background: #3069b6;
}
.brand-bg a.pinterest i {
	background: #ed5441;
}
.brand-bg a.pinterest i:hover {
	background: #b72411;
}
/* Brand without background color */
.brand a i {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-o-transition: color 2s ease;
	-ms-transition: color 2s ease;
	transition: color 2s ease;
}
.brand a i:hover {
	-webkit-transition: color 2s ease;
	-moz-transition: color 2s ease;
	-o-transition: color 2s ease;
	-ms-transition: color 2s ease;
	transition: color 2s ease;
}
.well {
	line-height: 28px;
	border: 0px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	background: #fcfcfc;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
}
.well h6 {
	font-size: 16px;
	line-height: 28px;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.well h6 i {
	margin-right: 3px;
}
.well p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom: 5px;
}
.well p i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 50%;
	margin-right: 12px;
	margin-bottom: 9px;
}
.well p a {
}
.contact-form h5 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}
form {
	margin-top: 12px;
}
form .form-group {
}
form .form-group .form-control {
	background-color: transparent;
	font-size: 14px;
	border-radius: 0;
}
.gray_bg .title h2 {
	color: #212529;
}
.gray_bg .title h2:after {
	background-color: #212529;
}
.gray_bg #filters .button {
	border-color: #212529;
	color: #212529;
	cursor: pointer;
}
.navbar-toggler:focus, .navbar-toggler:hover { box-shadow: none; outline: none;}
.navbar-light .navbar-nav .nav-link:hover { color: #000;}
